<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAF9ChMH7qs4pjVXggudaqYmP9MywZL2uU</string>
	<key>GCM_SENDER_ID</key>
	<string>495866144925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.simpletracker</string>
	<key>PROJECT_ID</key>
	<string>simpletracker-de990</string>
	<key>STORAGE_BUCKET</key>
	<string>simpletracker-de990.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495866144925:ios:becc3c8b0d801c714a4c74</string>
</dict>
</plist>